<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/contact-us.css">
    <link rel="stylesheet" href="../css/index.css">
	<link href='https://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<title>CONTACT US</title>
</head>

<body >
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="clouds"></div>

        <div class="main" style="padding-left: 10vw;padding-right: 10vw;">

        <section class="flex justify-content-left">

            
            <div style="padding-top: 15vh;">	
                <div class="col col-lg-12 col-md-12 " style="margin-bottom: 5vh; padding: 0 !important;" >		
                    <h1 id="text">CONTACT US</h1>
                    <p>
                        
                        We’d love to hear from you, be it queries, questions or suggestions!
                    </p>
                </div>

            </div>

            <form>



                <div class="form-row row">

                    <div class="col col-lg-6 col-md-6" >
                        
                        <label for="exampleFormControlInput1">NAME</label><br>
                        <input type="email" id="textbox" placeholder="Hi No0bMaster69 let Us know your Real name!">

                    </div>
                    <div class="col col-lg-6 col-md-6 text-left email-ext" >
                        
                        <label for="exampleFormControlInput1">EMAIL ID/PHONE</label><br>
                        <input type="email"id="textbox" placeholder="Let Us know your Mail ID so we can contact you in the speed of light">
                    
                    </div>
                    
                </div>


                <br>
                <br>
            
                <div class="form-row row">

                    <div class="col-12 col-sm-12 col-lg-4 col-md-4 extra-con"  >

                        <label id="t">REASONS FOR CONTACTING</label>
                    </div>
                
                    <div class="col-12 col-sm-12 col-lg-6 col-md-6 text-left extra-con" >
                        
                            <button id="b">Sponsership</button>
                            <button id="b">Sponsership</button>
                            <button id="b">Sponsership</button>
                            <button id="b">Sponsership</button>
                        
                    </div>
                </div>

                <br>
                <br>
                
                <div class="row">

                    <div class="col col-lg-12 col-md-12 msg" >

                        <div class="form-group">
                            <label for="exampleFormControlInput1">MESSAGE</label>
                            <textarea name="txtMsg" class="form-control" placeholder="Write Awayy!" id="textarea" style="width: 100%; height: 120px;"></textarea>

                        </div>

                    


                        <br>
                        <br>

                        <h4>
                        <button id="b1">RESET</button>
                        <button id="s">SUBMIT</button></h4>

            
                    </div>
                </div>

            </form>
            

        </section>

        <section class="flex justify-content-left">
            <div style=" padding-top:15vh;">
                <div class="col col-lg-12 col-md-12 ">
                <h1 id="text">HEADS</h1>
                </div>

                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image1" src="../css/static files/1st.png">
                </div>

                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image1" src="../css/static files/1st.png">
                </div>

                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image" src="../css/static files/1st.png">
                </div>

                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image1" src="../css/static files/1st.png">
                </div>

                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image1" src="../css/static files/1st.png">
                </div>

                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image" src="../css/static files/1st.png">
                </div>

                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image1" src="../css/static files/1st.png">
                </div>
                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image1" src="../css/static files/1st.png">
                </div>
                <div class="col-12 col-lg-4 col-md-6  py-3 py-sm-0 col c" >
                <img id="image" src="../css/static files/1st.png">
                </div>

            </div>


        </section>
    </div>


</body>
</html>
