<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDGAM | Speakers</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/index.css">

    <link rel="stylesheet" href="../font/stylesheet.css">
    <link rel="icon" href="../static files/UDGAM logo (title).png" type="image/icon type">

    <!-- link for font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
    
<style>

    #speaker-bg{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width:10%;
      display:inline-block;
      padding-top:10%;
      position:absolute;
      overflow:hidden !important;
      border-radius:10%;
      -webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px); filter: blur(0px);
    }
    #speaker-bg img{
        position:absolute;
        min-width:calc(100% + 30px);
        height:calc(100% + 30px);
        left:-15px;
        right:-15px;
        top:-15px;
        bottom:-15px;
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        transform: translateZ(0.1px)
      }
      
    #speaker-company{
        font-size: 2vh;transform: translate(-50%,-50%);
        width:10%;
        display:inline-block;
        padding-top:10%;
        position:absolute;
        overflow:hidden !important;
        border-radius:10%;
        -webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px); filter: blur(0px);/*prevents image from overflowing*/
    
    }

    
</style>
 
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    <div class="main">

        <nav class="navbar sticky-top bg-dark" style="padding: 0;">
            <div class="container nav-wrap">
                <div class="leftnav">
                    <a href="./home.html"> HOME</a>
                    <a href="./events.html"> EVENTS </a>
                    <a href="./speakers.html"> SPEAKERS </a>
                    <a href=""> ABOUT US  </a>
                </div>
                <div class="midnav">
                    <!-- <a href="#"> logo </a> -->
                </div>
                <div class="rightnav">
                    <a href="./ourteams.html"> TEAM </a>
                    <a href="./sponsors.html"> SPONSORS </a>
                    <a href="./contact us.html"> CONTACT US </a>
                    <a href="./registeration.html"> SIGNUP </a>
                </div>

            </div>

        </nav>
    
        <section class="section-padding" style="margin-top: 260px;">
            <div class="container">
                <div class="col-lg-12 col-xs-12">
                    <div class="row justify-content-left">
                        <div>
                            <h2>
                                <strong class="section-title" style="color:#fc0144; font-size: 6vh;">SPEAKERS</strong>
                            </h2>
                            <h6>
                                All Great People at one place.Included with UDGAM Pass.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            

            <div  class="container">
                <div class="speaker-info">
                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter1">
                        <img class="speaker__img" src="../static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            FOUNDER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter1">
                            <i class="fas fa-chevron-right"></i>
                        </button>

                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter1" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="../static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="../static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="../static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="../static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="speaker__overlay speaker__overlay--blur">
    
                            <div class="speaker-name">founder</div>
                            
                        </div> -->

                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter2"
                        data-target="#exampleModalCenter2">
                        <img src="../static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            CEO
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter2">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter2" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="../static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>


                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter3">
                        <img src="../static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            CTO
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter3">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter3" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="../static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter4">
                        <img src="../static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            OWNER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter4">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter4" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter5">
                        <img src="../static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            MEMBER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter5">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter5" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="../static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter6">
                        <img src="../static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            EMPLOYEE
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter6">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter6" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="../static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter7">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            SERVANT
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter7">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter7" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter8">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            GAMER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter8">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter8" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>

                    </div>
                
                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter9">
                        <img class="speaker__img" src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            FOUNDER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter9">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter9" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>

                        <!-- <div class="speaker__overlay speaker__overlay--blur">

                            <div class="speaker-name">founder</div>
                            
                        </div> -->

                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter10">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            CEO
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter10">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter10" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter11">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            CTO
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter11">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter11" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter12">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            OWNER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter12">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter12" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter13">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            MEMBER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter13">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter13" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter14">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            EMPLOYEE
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter14">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter14" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter15">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            SERVANT
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter15">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade blur" id="exampleModalCenter15" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>

                    <div class="speaker" data-toggle="modal" data-target="#exampleModalCenter16">
                        <img src="./static files/speaker.png" alt="speaker img">
                        <div class="speaker-side-name">
                            GAMER
                        </div>
                        <button class="speaker-icon" data-toggle="modal" data-target="#exampleModalCenter16">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter16" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80vw;">
                                <div class="container modal-content" style="size:auto !important; border:none;">
                                    <div class="row">
                                        <div class = "col-md-4" style="background-color: #333333; justify-content: space-between;">
                                            <div class="row">
                                                <img class="col-md-10 modalspeaker__img" src="./static files/speaker.png" alt="speaker img">
                                                <div class="col-md-2 modal-social">
                                                    <a href="https://www.facebook.com/ecell.iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="facebook button" src="static files\facebook.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="linkedin button" src="static files\linkedin.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                    <a href="https://www.instagram.com/ecell_iitg/" target="_blank"
                                                        class="modalicons">
                                                        <img class="discord button" src="static files\discord.svg"
                                                            style="width: 32px; height:32px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "col-md-8" style="padding-right: 3%; padding-top: 2%; padding-bottom: 1%; padding-left: 3%;">
                                            <div class="modalspeakername">Sundar Pichai</div>
                                            <div class="modalspeakerpostion">Google <svg height="10" width="10">
                                                    <circle cx="5" cy="3" r="0.5" stroke="black" stroke-width="3"
                                                        fill="black" />
                                                </svg> CEO </div>
                                            <p class="modalspeakerdetails" style="color: black;">Lorem Ipsum is simply
                                                dummy
                                                text of the printing and typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever since the 1500s, when an unknown
                                                printer
                                                took a galley of type and scrambled it to make a type specimen book. It
                                                has
                                                survived not only five centuries, but also the leap into electronic
                                                typesetting, remaining essentially unchanged. It was popularised in the
                                                1960s with the release of Letraset sheets containing Lorem Ipsum
                                                passages,
                                                and more recently with desktop publishing software like Aldus PageMaker
                                                including versions of Lorem Ipsum.Contrary to popular belief, Lorem
                                                Ipsum is
                                                not simply random text.</p>
                                        </div>
                                        <button class="speaker-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="speaker-content">
                            <div class="speaker-name">jimmy wales</div>
                            <div class="speaker-company">Wikipedia </div>
                        </div>
                    </div>
            </div>
        </section>

    

        <!-- footer -->
        <section style="margin-top: 300px;">
            <hr color="white">

            <div class="contactus" style="margin-bottom: 80px;margin-top: 50px;">
                <div id="footer_main" class="container row">
                    <div
                        style="display: flex; justify-content: space-between; width: 100%; padding-bottom:5%; padding-top:3%">
                        <div class="" style="font-style: Texta;">
                            <span style="font-size:200%">UDGAM 2022 </span><br>
                            <span>COSMOS OF ENDEAVOURS </span><br><br>
                            <span>FAQ  Contact us</span><br>
                            <span>udgam@iitg.ac.in </span><br>
                        </div>

                        <div style=" text-align: right; display: flex; flex-direction:column; align-content: flex-end;">
                            <span>Dont miss the magic</span>
                            <span>Sign up to receive event updates and notifications.</span><br>
                            <form action="/action_page.php">
                                <input type="id" id="emailid" name="fname"
                                    style="background-color: transparent; border: 2px solid white; padding-right: 10%; margin-right: 2%;">
                                <input type="submit" value="Submit"
                                    style="color: black; background-color: white; border: 0px; margin-top:1vw; padding-top:0.8%; padding-bottom: 0.8%; padding-left: 5%; padding-right: 5%;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="background-color: white; margin: 0;">
            <footer>
                <div class="container footer-wrapper">
                    <div id="footer_content">
                        Copyright &copy; 2022 UDGAM Creatives, All rights reserved.
                    </div>
                    <div class="footer-icons">
                        <a href="https://www.facebook.com/ecell.iitg/" target="_blank">
                            <img class="facebook button" src="static files\facebook.svg"
                                style="width: 32px; height:32px;">
                        </a>
                        <a href="https://twitter.com/ecelliitg" target="_blank">
                            <img class="twitter button" src="static files\twitter.svg"
                                style="width: 32px; height:32px;">
                        </a>
                        <a href="https://www.linkedin.com/company/ecell-iitg/" target="_blank">
                            <img class="linkedin button" src="static files\linkedin.svg"
                                style="width: 32px; height:32px;">
                        </a>
                        <a href="https://www.instagram.com/ecell_iitg/" target="_blank">
                            <img class="discord button" src="static files\instagram.svg"
                                style="width: 32px; height:32px;">
                        </a>
                        <a href="https://www.youtube.com/user/iitgedc" target="_blank">
                            <img class="discord button" src="static files\youtube.svg"
                                style="width: 32px; height:32px;">
                        </a>
                    </div>
                </div>
            </footer>
        </section>
        
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script>
        $(window).scroll(function () {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 30);
        });
    </script>

</body>
</html>
